html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA Compatible" content="IE=edge")
    link(rel="stylesheet" href="./matcha.css")
    script(src="/connect4.js")
    title Matcha Beauty
  body(style='background: rgb(170,207,178); background: linear-gradient(0deg, rgba(170,207,178,1) 14%, rgba(252,175,201,1) 100%);')
    include ./components/header

    #main-containor(style='font-size: 30px; overflow: hidden')
      h1(style='text-align: center; color: #8cbd98; margin-top: 1%; text-shadow: 1px 1px 2px #b25c77ab;') All
      article.listing(style='margin-left: 4%')
        if amount
          each h in amount
            .shop-item(style='margin-left:2%; margin-top: 3%; float:left; margin-bottom:2%')    
              .image 
                img.shop-item-image(src='/'+image[h] alt='makeup')
              .content(style='text-align:center;')
                label#name(style='font-weight: 600') !{name[h]}
                label#brand !{brand[h]}
                label#price $!{price[h]}
              .action 
                if (quantity[h] == 0)
                  button#addToCart(type='button') SOLD OUT
                else
                  button#addToCart(type='button' onclick='bag('+pid[h]+','+name[h]+')') add to cart
                form(action='/createFav' method='POST')
                  .favContainer
                    img(src='white_heart.png' onclick='addToFavs()' style='width:30; cursor: pointer; position: absolute; margin-left: 3%')
                    img.imgBlack(src='black_heart.png' onclick='addToFavs()' style='width:30; cursor: pointer; position: absolute; margin-left: 3%')
