html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA Compatible" content="IE=edge")
		title Connect 4
		script(src="/connect4.js")
		script(src="/help.js")
	link(rel="stylesheet" href="/profile.css")
	body(style="background: rgb(229, 195, 209)" onload="displayUsers(); displayFriends(); displayRequests(); displayActiveGames()")
	#main
		span(style="font-size:20px; cursor:pointer; text-decoration: underline;" onclick="openNav()")  Settings 

		#sidenav.sidenav
			a.closebtn(href="javascript:void(0)" onclick="closeNav()") ×
			a(href="../changeStatus" method="GET") Change Status
			a(href="../logOut" method="GET") Log Out

		.topnav
			input#myInput(type='text' style="margin-right:10px;" onkeyup="search()" placeholder='Search for users..')
			ul#userList(style="width: 400px; margin-right:10px;")
		
		.profile
			br
			h1 Profile !{session.username}
			br
			details.requestHide
				summary Requests
				ul#requestList(onkeyup="searchReq()")
			br
			if (session.online == true)
				h2 online&nbsp!{session.status}
			else
				h2 offline&nbsp!{session.status}
			br
			br
			input#fInput(type='text' onkeyup="searchFriends()" placeholder='Search friends..')
			ul#friendList(style="width: 300px;")